@model IEnumerable<MVC_Learning_Session_1.Models.VM_Subjects_Group>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div class="container">
        <h2>Index-DropDownListDemo</h2>
        <table id="tblList" class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Code
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Type
                    </td>
                </tr>
            </thead>
            <tbody>
              
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ErollmentNo</td>
                        <td style="display:none"> <input type="text" name="ErollmentNo" value="@item.ErollmentNo" readonly></td>
                        <td>@Html.DropDownList("SelectedItemName", item.SubjectName)</td>
                        <td><input type="text" name="SubjectType" value="@item.SubjectType"></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button"  id="btnSubmit" value="Submit Details" />
  </div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            //var data1 = [{ "ErollmentNo": 101, "SubjectType": "C", "SubjectName": [], "SelectedItemName": "Math" }];
            var data2 = JSON.parse(GetJSONData());
            $.ajax({
                dataType: 'json',
                type: 'post',
                url: '/StudentSubject/Submit2?EnrollmentNo=101',

                //data: { list: data1 }, //Static data1 able to push

                data: { list:data2 }, //data pass upto controller 
                success: function (res) {
                    alert('Success');
                }
            });
        });
    });

    function GetJSONData() {
        var subjectList = [];
        $('#tblList tbody tr').each(function () {
            var td = $('td', this);
            var objSubject = new Object();
            objSubject.ErollmentNo = $('input[name=ErollmentNo]', td).val();
            objSubject.SelectedItemName = $('#SelectedItemName', td).val() ;
            //objSubject.SubjectName = []; (Not necessary to bind each property). It is working if one of the property is not available. By default it will initialize with NULL value
            objSubject.SubjectType = $('input[name=SubjectType]', td).val();
            subjectList.push(objSubject);
        })
        return JSON.stringify( subjectList);
    }
</script>
