
@{
    ViewBag.Title = "Sample page to access Controller Method using JQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Index</h2>
<div id="dv1">Content goes here</div>
<input type="text" id="txtName" />
<input type="button" id="btnGet" value="Submit" />
<textarea id="txtAns" rows="10" cols="50"></textarea>
<input type="button" id="btn1" value="Submit - AJAX" />
<hr />

<input type="button" id="btnData" value="Get JSON Data of Item List" />

<script>
    $(document).ready(function () {
        $('#btn1').click(function () {
            // alert("Hello World"); //Show the alert
            $.ajax(
                {
                    type: "POST",
                    url: "/JQuerySample/GetJson",
                    //data: "{}",
                    datatype: "json",
                    success: function (response) {
                        alert(response.ID + " - " + response.Name);
                        // console.log('Info:');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText)
                    }
                }
            );
        });
        $('#btnGet').click(function () {
            alert("Hello World - Submit - First Button- Multiple "); //Show the alert
        });
        $("#btnData").click(function () {
            var item = new Object();
            item.ID = 101;
            item.Name = "Cinthol-New",
            item.Category = "A";
            item.Rate = 10;
                $.ajax(
                {
                        type: "POST",
                        url: "/JQuerySample/GetItemListJson",
                        data: JSON.stringify(item),
                        contentType: "application/json; charset=utf-8",
                        dataType:"Json",
                    success: function (result) {
                        alert("Success ..." + JSON.stringify(result));
                        //$("#dv1").innerText = JSON.stringify(result);
                        document.getElementById("dv1").innerHTML = JSON.stringify(result);
                        alert("Total Elements: " + result.length);
                        for (i = 0; i < result.length; i++)
                        {
                           // console.log(i);
                            alert(result[i].ID);
                        }
                    },
                    failure: function (result) {
                        $("#dv1").html = "Failure ...";
                    },
                    error: function (result) {
                        $("#dv1").html = "Error";
                    }
                }
            );
        });
    });

</script>
<script>
        //$(document).ready(function () {
        //    $('#btnGet').click(function () {
        //        //event.preventDefault(); //This prevents the default action
        //        alert("Hello World - Submit - First Button"); //Show the alert
        //    });
        //});
</script>

@*<script type="text/javascript">
    $(function () {
        $("#btnGet").click(function () {
            $.ajax({
                type: "POST",
                url: "/JQuerySample/GetJson",
                data: '{name: "' + $("#txtName").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Hello: " + response.ID + " : " + response.Name);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });*@
@*</script>*@